$svg_button_max_width: 75px;
$controls_max_width: 50%;

.playlist li:hover,.transformations li:hover,.button_container:hover{
	cursor: hand;
	cursor: pointer;
}
.controls, .playlist{
	@include media_q(sm){
		max-width: $controls_max_width;
	}
}
.flex_container{
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.controls ul{
	margin-top:0;
	display:inline;
	list-style-type:none;
	li{
		margin-bottom: 0.5em;
	}
}
.button_container{
	svg{
		height: 2em;
	}
	span{
		white-space: nowrap;
		vertical-align: 50%;
	}
}
.button_container:hover{
	color: $color_secondary;
	svg{
		fill: $color_secondary;
	}
}

.play{
	display:inline;
	svg{
		height: $svg_button_max_width;
	}
}
.tempo_slider{
	-webkit-flex-grow: 1; //fills remaining width
}
.tempo_input{
	@include font_size(1);
	width: 3em;
	margin-right: 1em;
}
.tempo_input_container:before{
	content : "\2669=";
	margin-right: 0.5em;
}

.playlist{
	overflow-y: auto;
	height: 24em;
	ol{
		list-style-position: inside;
		padding:0;
	}
	li{
		padding: 1em 0;
		&:hover, &.selected{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffae8+0,f7de79+69,f4e7be+100 */
			background: #fffae8; /* Old browsers */
			background: -moz-linear-gradient(top, #fffae8 0%, #f7de79 69%, #f4e7be 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffae8), color-stop(69%,#f7de79), color-stop(100%,#f4e7be)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fffae8 0%,#f7de79 69%,#f4e7be 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fffae8 0%,#f7de79 69%,#f4e7be 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fffae8 0%,#f7de79 69%,#f4e7be 100%); /* IE10+ */
			background: linear-gradient(to bottom, #fffae8 0%,#f7de79 69%,#f4e7be 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffae8', endColorstr='#f4e7be',GradientType=0 ); /* IE6-9 */
		}
		&.selected{
			font-weight: bold;
		}
	}
	svg{
		height: 1.5em;
		vertical-align: bottom;
		margin-left: 2em;
		&:hover{
			fill: $color_background_main;
		}
	}
}
.transformations{
	margin: 2rem 0;
	ul{
		padding:0;
	}
	li{
		display: inline;
		margin-right: 2em;
		padding: 0.5em;
	}
	li:hover, li.selected{
		background-color: $color_primary;
		color: $color_background_main;
	}
}
