$svg_button_max_width: 75px;
$controls_max_width: 50%;

.playlist li:hover,.transformations li:hover,.button_container:hover{
	cursor: hand;
	cursor: pointer;
}

.flex_container{
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.controls ul{
	margin-top:0;
	display:inline;
	list-style-type:none;
	li{
		margin-bottom: 0.5em;
	}
}
.button_container{
	svg{
		height: 2em;
	}
	span{
		white-space: nowrap;
		vertical-align: 50%;
		padding-right: 0.5em;
	}
	&:hover{
		li &{
			@include material_selected;
		}
	}
}

.button_container.play{
	display:inline;
	svg{
		height: $svg_button_max_width;
	}
	&:hover{
		svg{
			fill: $color_secondary;
		}
	}
}
.tempo_slider{
	-webkit-flex-grow: 1; //fills remaining width
}
.tempo_input{
	@include font_size(1);
	@include font_heading;
	width: 3em;
	margin-right: 1em;
}
.tempo_input_container:before{
	content : "\2669=";
	margin-right: 0.5em;
}

.playlist{
	@include font_heading;
	overflow-y: auto;
	height: 24em;
	ol{
		list-style-position: inside;
		padding: 0 2em;
	}
	li{
		padding: 1em;
		&:hover, &.selected{
			@include material_selected(0.1s);
		}
		&.selected{
			font-weight: bold;
		}
	}
	.star{
		float: right;
		& svg{
			height: 1.5em;
			vertical-align: bottom;
			margin-left: 2em;
			& .star_center{
				fill-opacity: 0.0;
			}
		}
		&:hover svg, &.starred svg{
			& .star_center{
				fill-opacity: 1.0;
			}
		}
	}
}
.transformations{
	margin: 2rem 0;
	ul{
		padding:0;
	}
	li{
		display: inline-block;
		margin-right: 2em;
		padding: 1em;
		white-space: nowrap;
		margin-bottom: 0.5em;
	}
	li:hover, li.selected{
		color: $color_background_main;
		@include material_selected(0.05s, $color_primary);
	}
}
