/**
* Header and nav styles
*/
.jumbotron{
	@include font_heading;
	background-color: $color_secondary;
	padding: 2rem 0;
	margin-bottom: 2rem;
}
.jumbotron .brand{
	@include font_brand;
	@include font_size(5);
	margin-bottom:0;
	font-weight: bold;
}
.lead{
	margin-top:0;
}