@mixin font_size($pow : 1, $scale : $type_scale){
	font-size : #{pow($scale, $pow)}rem;
}

@mixin font_brand{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	@content;
}
@mixin font_heading{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	@content;
}
@mixin font_body{
	font-family: Georgia, 'Times', serif;
	@content;
}
@mixin font_code{
	font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
	@content;
}

@mixin media_q($breakpoint: sm){
	@if $breakpoint == sm{
		@media screen and (min-width: $breakpoint_sm){
			@content;
		}
	}
	@else if $breakpoint == med{
		@media screen and (min-width: $breakpoint_med){
			@content;
		}
	}
	@else{
		@media screen and (min-width: $breakpoint_lg){
			@content;
		}
	}
}