@mixin font_size($pow : 1, $scale : $type_scale){
	font-size : #{pow($scale, $pow)}rem;
}

@mixin font_brand{
	font-family: Avenir, 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	@content;
}
@mixin font_heading{
	font-family: Avenir, 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	@content;
}
@mixin font_body{
	font-family: Georgia, 'Times', serif;
	@content;
}
@mixin font_code{
	font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
	@content;
}

@mixin media_q($breakpoint: sm){
	@if $breakpoint == sm{
		@media screen and (min-width: $breakpoint_sm){
			@content;
		}
	}
	@else if $breakpoint == med{
		@media screen and (min-width: $breakpoint_med){
			@content;
		}
	}
	@else{
		@media screen and (min-width: $breakpoint_lg){
			@content;
		}
	}
}

@mixin material_selected($transition_time : 0.05s, $background_color: $color_secondary){
	background-color: $background_color;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: scale(1.05);
	transition: transform $transition_time;
}
